<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>291873341861-m5f6u8ss9377na5irdkvl7lumecu5l1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291873341861-m5f6u8ss9377na5irdkvl7lumecu5l1r</string>
	<key>API_KEY</key>
	<string>AIzaSyDTnZHYyTt5JxqATIvwOa_92YBR40VYAiM</string>
	<key>GCM_SENDER_ID</key>
	<string>291873341861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perrchick.SomeApp</string>
	<key>PROJECT_ID</key>
	<string>boiling-inferno-8318</string>
	<key>STORAGE_BUCKET</key>
	<string>boiling-inferno-8318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:291873341861:ios:240c2c33a03becf7</string>
	<key>DATABASE_URL</key>
	<string>https://boiling-inferno-8318.firebaseio.com</string>
</dict>
</plist>